NEXT_PUBLIC_SUPABASE_URL=https://eqzcpacqlwvowugmeads.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxemNwYWNxbHd2b3d1Z21lYWRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MTU0NTAsImV4cCI6MjEwMjA5MTQ1MH0.ERTpQn7auvhGOwi6OHkgvLtHElGDl7Mxg7fst2Ojpak
